<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="DataInputFolder" value="D:\Users\Ramnik\Projects\PowerPlantResults\InputData\"/>
        <add key="DataOutputFolder" value="D:\Users\Ramnik\Projects\PowerPlantResults\OutputData\"/>
        
        <add key="ReferenceDataFile" value="D:\Users\Ramnik\Projects\PowerPlantResults\ConsoleClient\ReferenceData.xml"/>
    </appSettings>
</configuration>